//! MIXINS

//! GLOBAL
@mixin box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

@mixin hover-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
}

@mixin zoom {
  transform: scale(1.025);
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin gradient {
  background-image: linear-gradient(to right bottom, $color-2, $color-1);
}

//! BUTTON
@mixin button-primary {
  @include box-shadow;
  @include gradient;
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6em;
  font-weight: 500;
  color: $color-4;
  cursor: pointer;
  //* TRANSITION
  transition: all 200ms ease-in-out;
  //* ANIMATION
  animation: shake 1s linear infinite;

  &:hover {
    color: white;
    @include zoom;
    @include hover-shadow;
    filter: brightness(110%);
    //* ANIMATION
    animation: paused;
  }
}

//! HEART for FAVS
@mixin heart {
  //* FONTAWESOME
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  //* SETTINGS
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  //* TRANSITION
  transition: all 200ms ease-in-out;
}

//! CHECKBOX for HEART
//* REMOVE DEFAULT CHECKBOX
.check-heart[type="checkbox"] {
  display: none;
}

//* EMPTY HEART OPACITY WHEN CHECKED
.check-heart[type="checkbox"]:checked + label::before {
  opacity: 0;
}

//* GRADIENT HEART OPACITY WHEN CHECKED
.check-heart[type="checkbox"]:checked + label::after {
  opacity: 1;
}

