//! MIXINS

@mixin base-shadow {         
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

@mixin hover-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 25px;
}

@mixin zoom {
    transform: scale(1.025);
    transition: transform 250ms;    
    }

    // transition-duration: 250ms;
    // transform: scale(1.05);
    // color: #0065FC;