//! MIXINS

@mixin base-shadow {         
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 10px;
} 

@mixin hover-shadow {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}


@mixin zoom {
    transform: scale(1.025);
    transition: transform 0s;       
    }


@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


@mixin button-primary { 
    @include base-shadow; 
    background-image: linear-gradient(to right bottom, $color-2, $color-1); 
    padding: 1.75rem 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.7rem;
    font-weight: 500;
    color: $color-4;
    margin-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;       
    &:hover {
        color: white;
        @include zoom;
        @include hover-shadow;
        background-image: linear-gradient(to left top, $color-2, $color-1);   
        filter: brightness(110%);
        transition: all 0.2s ease-in-out;    
    }
} 

