@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  min-width: 280px;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-heart[type=checkbox] {
  display: none;
}

.check-heart[type=checkbox]:checked + label::before {
  opacity: 0;
}

.check-heart[type=checkbox]:checked + label::after {
  opacity: 1;
}

@keyframes loader-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes grow-bars {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadein-ltr {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes upscale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes fadein-btt {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  z-index: 10;
  font-size: 5rem;
  animation: loader-fadeout 200ms;
  animation-delay: 2.75s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loader__bars::before {
  content: "";
  display: flex;
  width: 15px;
  height: 50px;
  background-color: #9356dc;
  animation: grow-bars 1.5s linear -1s infinite;
}

.loader__bars span {
  content: "";
  display: flex;
  width: 15px;
  height: 50px;
  background-color: #ff79da;
  animation: grow-bars 1.5s linear -0.5s infinite;
}

.loader__bars::after {
  content: "";
  display: flex;
  width: 15px;
  height: 50px;
  background-color: #99e2d0;
  animation: grow-bars 1.5s linear infinite;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.2rem;
  position: relative;
  cursor: pointer;
  animation: expand 3s ease;
}
.header h1 {
  padding: 2rem;
}
.header a {
  text-decoration: none;
  color: black;
}
@media (min-width: 320px) {
  .header {
    font-size: 2rem;
  }
}

.location-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #f3f3f3;
  padding: 1rem;
  color: grey;
  font-size: 1.5rem;
}
.location-section h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.explorer-section {
  text-align: center;
  background-color: #fafafa;
  padding: 2rem;
}
.explorer-section h2 {
  padding: 1rem;
}
.explorer-section p {
  font-size: 1.8rem;
  color: grey;
  padding: 1rem;
}

.explorer__button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6em;
  font-weight: 500;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  animation: shake 1s linear infinite;
  margin: 3rem 0rem;
}
.explorer__button:hover {
  color: white;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  filter: brightness(110%);
  animation: paused;
}

.tutorial-section {
  counter-reset: tuto;
  padding: 1rem 2rem;
  margin: auto;
}
.tutorial-section h2 {
  padding: 2rem 0;
}
.tutorial-section ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 1rem;
  gap: 4rem;
}
@media (min-width: 950px) {
  .tutorial-section ol {
    flex-direction: row;
  }
}

.tutorial-section li {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 1.5rem 1.5rem;
  flex-grow: 1;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: default;
  transition: all 300ms ease-in-out;
}
.tutorial-section li:nth-child(1) {
  animation: fadein-ltr 500ms;
  animation-fill-mode: both;
  animation-delay: 750ms;
}
.tutorial-section li:nth-child(2) {
  animation: fadein-ltr 500ms;
  animation-fill-mode: both;
  animation-delay: 1500ms;
}
.tutorial-section li:nth-child(3) {
  animation: fadein-ltr 500ms;
  animation-fill-mode: both;
  animation-delay: 2250ms;
}
.tutorial-section li i {
  margin-right: 1rem;
  color: grey;
  font-size: 2rem;
  padding: 1rem;
}
.tutorial-section li::before {
  counter-increment: tuto;
  content: counter(tuto);
  background-color: #9356dc;
  color: white;
  font-size: 1.45rem;
  font-weight: 500;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1.25rem;
}
.tutorial-section li:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  background-color: #f5edff;
}
.tutorial-section li:hover i {
  color: #9356dc;
}

.restaurant-section {
  background-color: #f3f3f3;
  margin-top: 5rem;
  padding: 2rem 2rem 2rem 2rem;
}
.restaurant-section h2 {
  margin: auto;
  padding: 2rem 2rem 2rem 0rem;
}

.restaurant__grid {
  list-style: none;
  padding-left: 0;
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 5rem;
}
@media (min-width: 950px) {
  .restaurant__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.restaurant__card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  position: relative;
  border: 1px solid black;
  height: 25rem;
  display: block;
  background-color: white;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
  animation: upscale 3s ease;
}
.restaurant__card img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 2rem 2rem 0rem 0rem;
}
.restaurant__card:hover {
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
}

.restaurant-card__footer {
  position: relative;
  padding: 1rem 2rem;
  line-height: 2.25rem;
}
.restaurant-card__footer h3 {
  font-size: 2rem;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurant-card__footer p {
  font-size: 1.7rem;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant-card__heart::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  right: 2rem;
  bottom: 1rem;
}
.restaurant-card__heart::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-weight: 900;
  color: transparent;
  opacity: 0;
  right: 2rem;
  bottom: 1rem;
}
.restaurant-card__heart:hover::before {
  opacity: 0;
}
.restaurant-card__heart:hover::after {
  opacity: 1;
}

.restaurant__card--new::before {
  content: "Nouveau";
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  background-color: #99e2d0;
  color: #1b6150;
  font-size: 1.6rem;
  font-weight: 500;
  filter: brightness(105%);
}

.footer {
  background-color: #353535;
  display: block;
  padding: 2rem 0 1rem 2rem;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #ff79da;
}

.footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  color: white;
  padding: 1rem 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  text-decoration: none;
  color: white;
  line-height: 2.75rem;
  font-size: 1.7rem;
}

.footer i {
  padding-right: 1rem;
}

.header:hover .header--arrow {
  color: #ff79da;
}

.header--arrow::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  transition: all 200ms ease-in-out;
}
@media (min-width: 320px) {
  .header--arrow::before {
    font-size: 2.5rem;
  }
}

.menu-banner {
  object-fit: cover;
  width: 100%;
  display: block;
  max-height: 50rem;
}

.menu {
  max-width: 1280px;
  margin: auto;
  position: relative;
  margin-top: -5rem;
  padding: 2rem 0;
  border-radius: 3rem 3rem 0 0;
  background-color: #f3f3f3;
}

.menu__title {
  position: relative;
  font-family: "Shrikhand", cursive;
  padding: 2rem 3rem;
  padding-right: 7rem;
  cursor: default;
  animation: focus 2s ease;
}

.menu-title__heart::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu-title__heart::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  font-weight: 900;
  color: transparent;
  opacity: 0;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu-title__heart:hover::before {
  opacity: 0;
}
.menu-title__heart:hover::after {
  opacity: 1;
}

.submenus-grid {
  display: grid;
}
@media (min-width: 950px) {
  .submenus-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.submenu {
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.submenu--anim1 {
  animation: fadein-btt 1.5s;
  animation-fill-mode: both;
  animation-delay: 500ms;
}

.submenu--anim2 {
  animation: fadein-btt 1.5s;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}

.submenu--anim3 {
  animation: fadein-btt 1.5s;
  animation-fill-mode: both;
  animation-delay: 1500ms;
}

.submenu__title {
  position: relative;
  text-transform: uppercase;
  padding: 2rem 0 1rem 0;
  font-weight: 400;
  cursor: default;
  animation: expand 3s ease;
}
.submenu__title::after {
  content: "";
  width: 5rem;
  height: 0.4rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submenu-item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  overflow: hidden;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.submenu-item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  transform: scale(1.025);
}
.submenu-item:hover .submenu-item__check {
  margin-right: 0;
}
.submenu-item:hover .submenu-item__check-icon {
  transform: rotate(0deg);
}
.submenu-item:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  transform: scale(1.025);
}
.submenu-item:active .submenu-item__check {
  margin-right: 0;
}
.submenu-item:active .submenu-item__check-icon {
  transform: rotate(0deg);
}

.submenu-item__detail {
  overflow: hidden;
  flex: 1;
  padding: 1.5rem;
  line-height: 2.25rem;
}
.submenu-item__detail h4,
.submenu-item__detail p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submenu-item__price {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  padding: 1.5rem;
}

.submenu-item__check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  width: 7rem;
  margin-right: -7rem;
  transition: all 200ms ease-in-out;
}

.submenu-item__check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: #99e2d0;
  font-size: 1.75rem;
  font-weight: bolder;
  transform: rotate(180deg);
  transition: all 300ms ease-in-out;
}

.menu__order {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.menu-order__button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  padding: 2rem 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6em;
  font-weight: 500;
  color: #f3f3f3;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  animation: shake 1s linear infinite;
  padding: 1.75rem 6rem;
  margin: 1.5rem;
}
.menu-order__button:hover {
  color: white;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  filter: brightness(110%);
  animation: paused;
}

/*# sourceMappingURL=main.css.map */
