@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem;
}

body {
  min-width: 320px;
}

header {
  font-family: "Shrikhand", "cursive";
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 5px 5px lightgrey;
  padding: 0.2rem;
  position: relative;
  cursor: pointer;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #F3F3F3;
  padding: 1rem;
  color: grey;
}
.location h2 {
  font-size: 2rem;
}

.explorer {
  text-align: center;
  background-color: #FAFAFA;
  padding: 2rem;
}
.explorer p {
  font-size: 1.8rem;
  color: grey;
}
.explorer button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  border-radius: 3rem;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  margin-top: 1rem;
  margin-bottom: 4rem;
  cursor: pointer;
}
.explorer button:hover {
  transform: scale(1.025);
  transition: transform 250ms;
  opacity: 0.9;
}

.tutorial {
  counter-reset: tuto;
  padding: 2.5rem 1rem 0rem 1rem;
}
.tutorial ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  gap: 4rem;
}
@media (min-width: 1000px) {
  .tutorial ol {
    flex-direction: row;
  }
}
.tutorial li {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F3F3F3;
  padding: 1.5rem 1.5rem;
  flex-grow: 1;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tutorial li:hover {
  background-color: #f5edff;
  transition: all 0.5s;
}
.tutorial li i {
  margin-right: 1rem;
  color: grey;
  font-size: 2rem;
  padding: 1rem;
}
.tutorial li::before {
  counter-increment: tuto;
  content: counter(tuto);
  background-color: #9356DC;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1.25rem;
}

.restaurants {
  background-color: #F3F3F3;
  margin-top: 5rem;
  padding: 2rem 2rem;
}

.restaurants__cards {
  list-style: none;
  padding-left: 0;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1000px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border: 1px solid black;
  height: 25rem;
  display: block;
  background-color: white;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover {
  transform: scale(1.025);
  transition: transform 250ms;
  opacity: 0.9;
  color: #9356DC;
}
.card img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 2rem 2rem 0rem 0rem;
}
.card footer {
  padding-left: 1.5rem;
  padding-top: 1rem;
  line-height: 2.25rem;
}
.card h3 {
  margin: 0;
}
.card p {
  margin: 0;
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
