//!  HEADER : LOGO
.header {
    @include base-shadow;
    font-family: "Shrikhand", cursive; 
    font-size: 2rem;
    text-align: center;
    padding: 0.2rem;
    position: relative;
    cursor: pointer;

    h1 { 
        padding: 2rem;
    }

    a { 
        text-decoration: none;
        color: black;
    }

}
