//!  02 : EXPLORE > BUTTON

.explorer {
    text-align: center;
    background-color: $color-5;
    padding: 2rem;

    p {
        font-size: 1.8rem;
        color: grey;
    }

    button {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        background-image: linear-gradient(to right bottom, $color-2, $color-1);
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 3rem;
        border: none;
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        margin-top: 1rem;
        margin-bottom: 4rem;
        cursor: pointer;
        @include base-shadow;       

        &:hover {
            opacity: 0.8;
            transition: opacity 1000ms;
            @include zoom;
        }
    }
   
}
