
//!  SECTION 1 : LOCATION

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
    background-color: #F3F3F3;
    font-size: 1.3rem;
    padding: 1rem;
}
