//!  02 : EXPLORE > BUTTON

.explorer {
    text-align: center;
    background-color: $color-5;
    padding: 2rem;

    h2 {
        padding: 1rem;
        
    }

    p {
        font-size: 1.8rem;
        color: grey;
        padding: 1rem;
    }
    

    &__button {
        @include button-primary;
    }

}

