//! 03 : TUTORIAL

.tutorial {
    counter-reset: tuto;
    padding: 3rem 2rem 1rem 2rem;

    margin: auto;

    @media (min-width: 1000px) {
      
    }

    & ol {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        gap: 4rem;


        @media (min-width: 1000px) {
            flex-direction: row;
        }
    }

    & li {
      
        position: relative;
        display: flex;
        align-items: center;
        background-color: $color-4;
        padding: 1.5rem 1.5rem;
        flex-grow: 1;
        border-radius: 1.5rem;
        font-weight: 600; 
        font-size: 1.8rem ;    
        cursor:default;
        @include base-shadow;
        &:hover {
         @include hover-shadow;
        background-color: #f5edff;
        transition: all 0.4s;        
            > i {
            color: $color-1;
            }
        }
        
        & i {
            margin-right: 1rem;
            color: grey;
            font-size: 2rem;
            padding: 1rem;
        } 
     
        &::before {
            counter-increment: tuto;
            content: counter(tuto); //Toujours mettre un content après un before
            background-color: $color-1;
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%; //Cercle autour du chiffre
            position: absolute; //Si position absolute sur un enfant, mettre le parent en position relative
            left: -1.25rem;
 
        }
    }


}

