//! 04 : RESTAURANTS

.restaurants { 
    background-color: $color-4;
    margin-top: 5rem;
    padding: 2rem 2rem 2rem 2rem;
   
    h2 {
        margin: auto;
        padding: 2rem 2rem 2rem 0rem;
    }


    &__list { 
        list-style: none;
        padding-left: 0;
        gap: 4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5rem ;
        @media (min-width: 950px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }


    &__card {
        animation: upscale 3s; 
        @include base-shadow;
        position: relative;
        border: 1px solid black;
        height: 25rem; 
        display: block;
        background-color: white;
        border: none;
        border-radius: 2rem;
        text-decoration: none;
        color: black;    
        
        &:hover {
            @include zoom;
            @include hover-shadow;
            transition: all 200ms ease-in-out;   
      
  
        }
        
            & img {
                    object-fit: cover;
                    height: 70%;
                    width: 100%;
                    border-radius: 2rem 2rem 0rem 0rem;  
                                                       
            }

            .card__footer { 
                position: relative; 
                padding: 1rem 2rem;
                line-height: 2.25rem; 
                            

                & h3 {                             
                font-size: 2rem;
                width: 75%;
                @include ellipsis;
                }

                & p {
                font-size: 1.7rem;
                width: 75%;
                @include ellipsis;

                }                           
   
            
             .card__heart {
                &::before {
                    @include heart;                    
                }

                &:hover::before {                     
                    font-size: 3.5rem; 
                    opacity: 0;                            
                }  

                &::after {
                    @include heart; 
                    @include gradient;                     
                    opacity: 0;
                    color: transparent;
                    font-weight: 900;
                    font-size: 3rem;    
                }

                &:hover::after {  
                    opacity: 1;   
                    font-size: 3.5rem;        
                }

                &:focus {

                }



            }



        }
            //! RUBAN "NOUVEAU"
            &--new {                                
                &::before { 
                    content: "Nouveau";
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    padding: 1rem;
                    background-color: $color-3;
                    color: darken($color-3, 50%);
                    font-weight: 500;   
                    filter: brightness(105%);    
                }
                
            }

    }  

}
