//! MENU

// Add "Arrow Return" icon on page header
// Use Font-awesome as pseudo-element 
.header--arrow {
    display: flex;
    font-size: 2.5rem;  
    position: absolute;      
    left: 3rem;
    top: 50%; //Center 
    transform: translateY(-50%); //Center 
        &:hover {
            color: $color-3;
        }
}

.menu-banner { 
    object-fit: cover;
    width: 100%;
    display: block;
    max-height: 50rem; 
    z-index: -1; 
}

.menu { 
    max-width: 1280px;
    margin: auto;
    position: relative;
    margin-top: -5rem;
    padding: 2rem 0;
    border-radius: 3rem 3rem 0 0;
    background-color: $color-4;
}

.menu__title {
            padding: 2rem 2.5rem 0rem 2.5rem; 
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-family: "Shrikhand", cursive;             
            }

            i {
                font-size: 3rem;
            }
}


.menu__list {   
    display: grid;
    @media (min-width: 920px) {
        grid-template-columns: repeat(3, 1fr);               
    }   
}


.submenu {
overflow: hidden;  
padding: 2.5rem 2.5rem; //SOLUTION POUR CONTRER EFFET DEGUEU SUR BOX SHADOW
}
    

.submenu__title { 
    position: relative;
    text-transform: uppercase;
    padding: 2rem 0 1rem 0;
    font-weight: 400;

    &::after {
        content: "";
        width: 5rem;
        height: 0.4rem;
        background-color: $color-3;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}


.submenu-item {  
    @include base-shadow;
    background-color: white;
    border-radius: 1.5rem;  
    display: flex;  
    padding: 2rem;  
    margin: 2.5rem 0;
    cursor: pointer; 
    &:hover {
        @include hover-shadow;
        @include zoom;
    }   
}

            
.submenu-item__detail { 
    flex: 1;
    overflow: hidden;     

    h4, p 
    {            
       @include ellipsis;
       width: 90%;
       line-height: 2.25rem;                 
    }
}    
                                            

.submenu-item__price { 
    display: flex;
    align-items: flex-end;
    font-weight: 900;
}








.menu__footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.menu__button { 
    @include button-primary;
    padding: 1.75rem 6rem;
}