//! MENU

.menu-banner { 
    object-fit: cover;
    width: 100%;
    display: block;
    max-height: 50rem;  
}

.menu-section { 
    max-width: 1280px;
    margin: auto;
    position: relative;
    margin-top: -5rem;
    padding: 2rem 0;
    border-radius: 3rem 3rem 0 0;
    background-color: $color-4;
}


.menu-section__header {
            padding: 2rem 2.5rem 0rem 2.5rem; 
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-family: "Shrikhand", cursive;             
            }

            i {
                font-size: 3rem;
            }
}



.menuS {   
    display: grid;
    @media (min-width: 920px) {
        grid-template-columns: repeat(3, 1fr);               
    }   
}

.menu {
overflow: hidden;  
padding: 2.5rem 2.5rem; //SOLUTION POUR CONTRER EFFET DEGUEU SUR BOX SHADOW
}
    

.menu__title { 
    position: relative;
    text-transform: uppercase;
    padding: 2rem 0 2rem 0;
    font-weight: 400;

    &::after {
        content: "";
        width: 5rem;
        height: 0.5rem;
        background-color: $color-3;
        position: absolute;
        left: 0;
        bottom: 0;
}
}

.menu-item {  
    @include base-shadow;
    background-color: white;
    border-radius: 1.5rem;  
    display: flex;  
    padding: 2rem;  
    margin: 2.5rem 0;
    cursor: pointer; 
    &:hover {
        @include hover-shadow;
        @include zoom;
    }   
}

            
.menu-item__detail { 
    flex: 1;
    overflow: hidden;     

    h4, p 
    {            
       @include ellipsis            
    }
}    
                                            

.menu-item__price { 
    display: flex;
    align-items: flex-end;
    font-weight: 900;
}













// faire un mixin pour le bouton button primary



.menu__footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.menu__button { 
    @include button-primary;
    padding: 1.5rem 10rem;
}