//! FOOTER

.main-footer { 
    background-color: #353535;
    padding: 2.5rem 2.5rem 1rem;

    a {
        text-decoration: none;
        color: white;
        &:hover { 
            color: $color-2 ;
        }
    }

    h2 {
        font-family: "Shrikhand", "cursive"; 
        font-weight: 400;
        font-size: 2.5rem;
        color: white;
        padding: 0;
    }

    ul { 
        list-style: none;
        padding: 0;
    }

    i {
        padding-right: 1rem;
    }

    li { 
        text-decoration: none;
        color: white;
        line-height: 2.75rem;
        font-size: 1.7rem;

    }

}